/* CSS RESET */
body, ul, h1, h2, p{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
} 
a{
    text-decoration: none;
    color: inherit
}
.clearfix:after{
    content:' ';
    display: block;
    clear: both;
}

body{
    text-align: center;
    background-color: white;
}
.wrapper{
    width: 780px;  
    margin: 0 auto 20px;
}
header{
    margin: 50px 0;
}
.header-section img{
    width: 150px;
    height: 150px;
    /* background-color: #ddd; */
}
.logo-title{
    /* background-color: #ddd; */
    display: inline-block;
    font-size: 5em;
    font-family: 'Sigmar One', cursive;
    vertical-align: bottom;
}
.logo-title a{
    display: block;
}
/* Components */
.btn{
    background-color: orangered;
    color: #efefef;
    padding: 0 30px;
    display: inline-block;
    width: 80%;
}
.btn_large{
    width: 250px;
    /* background-color: lightseagreen; */
}
.item-section{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    margin-left: 20px;
    z-index : 10;
}
.item-list{
    margin: 0 auto 20px;
    
    background-color: #333;
}
.item-list:last-child{
    margin-bottom: 0;
}
.item-list a{
    border-radius: 5px;
    display: inline;
}
.item-list a img{
    width: 32px;
    height: 32px;
}
.menu-section{
    background-color: #8372ce;
    font-weight: bold;
    color: #ddd;
}
.menu-bar{
    /* background-color: pink; */
}
.menu-bar li{
    margin-right: 20px;
}
.menu{
    padding: 10px 30px;
    border: 3px solid #8372ce;
    float: right;
}
.menu:hover{
    color: #fe594e;
    border: 3px solid #fe594e;
}
/* modal : 사용자의 명령 인식을 위한 창 */
.modal-window{
    border-radius: 5px;
    position: fixed;

    /* 창이 생기는 효과 */
    background-color: rgba(1, 1, 1, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* EVENT */
    pointer-events: none; /* 👍 */
    opacity: 0; /* 👍 컨텐츠 가리고있다가 */
    transition: all 0.5s;
}
.modal-window:target{ 
    /* 클릭시 보이게 하는 효과 */
    opacity: 1; 
    /* 클릭시 활성화 */
    pointer-events: auto;
}
.modal-window div{
    background-color: #f3f3f3;
    color: #f9b253;
    width: 300px;
    height: 300px;
    position: relative;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.modal-window div p{
    margin-top: 20px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    background-color: #f9b253 ;
}
.modal-close:hover {
    color: initial;
}
/* 
    👍 EVENT display none → block 이용 
    단, transition 효과는 없음
*/
.open-checkout{
    border-radius: 5px;
    position: fixed;

    background-color: rgba(1, 1, 1, 0.15);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    pointer-events: none;
    display: none;
}
.open-checkout:target{
    pointer-events: auto;
    display: block;
}
.open-checkout > div{
    background-color: #f3f3f3;
    color: #fe594e;
    width: 300px;
    position: relative;
    padding: 30px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.open-checkout strong{
    display: inline-block;
    margin: 20px 0;
}
.video{
    background-color: pink;
    position: relative;
    padding-top: 56.25%;
}
.video-iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.open-checkout-content{
    /* background-color: #666; */
}
.open-checkout-content a{
    margin-bottom: 20px;
}
.open-checkout-content a:last-child{
    margin-bottom: 0;
}
section{
    background-color: #ddd;
    margin-top: -20px;
}
.mySlides{
    width: 400px;
}
.c1{ background-color: #f9b253;}
.c2{ background-color: #fe594e;}
.c3{ background-color: #35a2a5;}
.c4{ background-color: #8372ce;}

.c1_c{color: #f9b253;}
.c2_c{color: #fe594e;}
.c3_c{color: #35a2a5;}
.c4_c{color: #8372ce;}

.html {color: #f16529;}
.css {color: #48a0dc;}
.js {color: #F0DB4E;}

/* l_row */
.boxes{
    margin: 150px -10px 50px;
    background-color: #ddd;
}
/* l_col */
.box{
    width: 33.333333%;
    box-sizing: border-box; 
    padding: 0 10px;
    float: left;
}
.box-logo{
    width: 150px;
    margin-top: -100px;
}
.box-logo:hover{
    width: 200px;
    transition: all 0.5s;
}
.box-contents{
    background-color: #666;
    padding: 40px 10px;
    margin: -30px 0;
    border-radius: 8px;
}
.box-contents h1{
    border-top: 5px solid;
    border-bottom: 5px solid;
    display: inline-block;
    color: currentColor;
}
.box-contents p{
    color: #ddd;
    text-indent: 10px;
    text-align: left;
    margin: 20px 0;
}
.box-footer{
    padding: 20px;
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
}
.box-footer a{
    /* 
        👍 currentColor를 사용하는 이상 color를 변경할 수 없음 
        내부 태그를 만들어 변경해줘야함
    */
    background-color: currentColor;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 5px solid rgba(0,0,0,0.2);
}
.box-footer a:hover{
    border-bottom: 0;
    margin-top: 5px;
}
.box-footer a span{
    color: #ddd;
}
.btn.js span{
    color: #666;
}
footer{
    margin: 0 auto 100px;
}
.figure{
    background: #8372ce;
    color: #ddd;
}
.figure-box{
    padding: 30px;
    margin: 0 -30px;
}
.figure-section{
    /* background-color: #666; */
    float: left;
    border-right: 1px solid #efefef;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
}
.figure-section:last-child{
    border-right: 0;
}
.figure-section h2{
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 20px;
}
.figure-section span{
    display: block;
    margin-top: -20px;
}


